<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <bean id = "circularFortuneService"
    	class = "com.springdemo.CircularFortuneService">
    	<property name = "arr" value = "wow,good,gooluck,farewell"/>
    </bean >
    <bean id = "numberGenerator"
    	class = "com.springdemo.NumberGenerator">
    	<property name = "n" value = "10"/>
    </bean >
    <bean id = "tennisCoach"
    	class = "com.springdemo.TennisCoach">
    	<property name = "name" value = "Moshe"/>
    	<property name = "yearOfExperience" value = "15"/>
    </bean >
    <bean id = "myCoach"
    	class = "com.springdemo.BasketballCoach"
    	scope = "singleton">
    </bean >
<context:component-scan base-package="com.springdemo"/>
</beans>